<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/book/bookHome.css">
</head>
<body>
    <div class="welcome">
        <h1>Welcome to book home page</h1>
        <div class="welcome__create">
            <form action="book/loader/upload">
                <input type="submit" value="Create" class="btn__create">
            </form>
        </div>
    </div>
    <div class="display">
        <h2 class="display__introduce">Book list</h2>
        <% if (folder.length == 0) { %>
            <div class="display__none">
                <h3>Книжные полки еще пусты</h3>
                <a href="/views/book/edit.ejs"></a>
            </div>
        <% } %>
        <% for( let index = 0; index < folder.length; index++ ) { %>

            <div class="display__bookList">
                <div class="display__edit">
                    <div>
                        <h3><%= folder[index] %></h3>
                    </div>
                    <div class="display__methods">
                        <form method="get" action=<%= `book/view/${folder[index]}`%>>
                            <input type="submit" value="View" class="view">
                        </form>
                        <form method="put" action=<%= `book/${folder[index]}` %>>
                            <input type="submit" value="Edit" class="edit">
                        </form>
                        <form method="delete" action=<%= `book/delete/${folder[index]}`%>>
                            <input type="submit" value="Delete" class="delete">
                        </form>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>