<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loader</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <label>Название книги</label><br>
        <input type="text" name="title"><br><br>
        <label>Описание</label><br>
        <input type="text" name="desc"><br><br>
        <label>Автор</label><br>
        <input type="text" name="auth"><br><br>
        <label>Яркие моменты</label><br>
        <input type="text" name="fav"><br><br>
        <input type="submit" value="Подтвердить">
    </form>
</body>
</html>