<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/book/view.css">
    <title>View</title>
</head>
<body>
    <a href="/api/book" class="home">Home</a>
    <div class="data">
        <h3>Author :</h3>
        <p><%= data.auth %></p>
        <h3>Description :</h3>
        <p><%= data.desc %></p>
        <h3>Favorites :</h3>
        <p><%= data.fav %></p>
    </div>
</body>
</html>