<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>
    <style type="text/css">
        .Title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .Page {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="Title">
        <div class="Title__1stPar">1</div>
        <div class="Title__2ndPar">2</div>
    </div>
    <div class="Page">
        <div class="Page__1st">11</div>
        <div class="Page__2nd">22</div>
        <div class="Page__3rd">33</div>
    </div>
</body>
</html>